@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 2px;
    background: rgb(30, 30, 30);
}

.header-box {
    height: 60px;
    width: -1px;
    background-color: rgb(40, 40, 40);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/*-----------------------------------------------------------------------------*/
/* Header Box Elements */

#black-rhino-icon {
    position: relative;
    top: 15px;
    left: 17.5px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    background-color: rgb(242, 243, 244, 0);
}

#cross {
    position: relative;
    float: right;
    top: 25px;
    right: 17.5px;
    height: 15px;
    width: 15px;
    cursor: pointer;
    background-color: rgb(242, 243, 244, 0);
    opacity: 70%;
}

#cross:hover {
    opacity: 100%;
}

/*-----------------------------------------------------------------------------*/

#back-to-main {
    position: absolute;
    top: 80px;
    left: 10px;
    height: 25px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

#enter-wallet {
    position: relative;
    top: 80px;
    left: 15px;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

#wallet-address {
    position: relative;
    top: 90px;
    left: 10px;
    width: 330px;
    height: 30px;
    border-radius: 5px;
    letter-spacing: 0.75px;
    text-indent: 5px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(235, 235, 235);
}

#enter-amount{
    position: relative;
    top: 120px;
    left: 15px;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

#transfer-amount {
    position: relative;
    top: 130px;
    left: 10px;
    width: 330px;
    height: 30px;
    border-radius: 5px;
    letter-spacing: 0.75px;
    text-indent: 5px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(235, 235, 235);
}

#confirm-withdraw {
    position: relative;
    text-align: center;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    padding: 20px 10px;
    background-color: rgb(255, 0, 68);
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 900;
    border-radius: 5px;
    outline: none;
    border: none;

}

#confirm-withdraw:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    top: 195px;
    left: 50%;
    transform: translate(-55%, -55%);
    box-shadow: 5px 5px rgb(187,134,252);
    text-decoration: underline;
}